/*!CK:1325817332!*//*1404114683,*/

.bzHiddenFrame{position:absolute;visibility:hidden}
.sp_Omiw2-jBdHQ{background-image:url(/rsrc.php/v2/yl/r/hmbpkk2oVP-.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Omiw2-jBdHQ.sx_f5b6ae{width:32px;height:32px;background-position:0 0}.sp_Omiw2-jBdHQ.sx_9d1d51{background-position:0 -60px}.sp_Omiw2-jBdHQ.sx_02d908{background-position:0 -77px}.sp_Omiw2-jBdHQ.sx_86b45a{width:32px;height:26px;background-position:0 -33px}.sp_Omiw2-jBdHQ.sx_484d2e{background-position:0 -94px}

#bootloader_Mj3_r { height: 42px; }
.bootloader_Mj3_r { display:block !important; }