/*!CK:1087683644!*//*1404105253,*/

._2wli .uiScrollableArea.contentAfter:after{background:-webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, .05)), to(#fff));background:-webkit-linear-gradient(rgba(255, 255, 255, .05), #fff);-webkit-border-radius:0 0 3px 3px;height:12px}

#bootloader_Oe2_3 { height: 42px; }
.bootloader_Oe2_3 { display:block !important; }