/*!CK:430381354!*//*1404096403,*/

.UFIBlingBoxNFBIcon{background-image:url(/rsrc.php/v2/yC/r/EEpo_0xz-FH.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;display:inline-block;height:13px;width:15px}

#bootloader_a6oud { height: 42px; }
.bootloader_a6oud { display:block !important; }