/*!CK:1452328212!*//*1404127380,*/

.sp_5tmyIGkgLqM{background-image:url(/rsrc.php/v2/yC/r/eg2MTO_gUmz.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_5tmyIGkgLqM.sx_5f119c{width:19px;height:14px;background-position:0 0}.sp_5tmyIGkgLqM.sx_cd7e98{background-position:0 -15px}
.sp_f5Jrp12wXoA{background-image:url(/rsrc.php/v2/yT/r/nqPSnR0Pkr2.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_f5Jrp12wXoA.sx_56c8d8{background-position:0 0}.sp_f5Jrp12wXoA.sx_6216c1{background-position:0 -17px}

#bootloader_8vkuq { height: 42px; }
.bootloader_8vkuq { display:block !important; }